@import "/src/app/styles/resizeValues.scss";

.holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.createForm {
  width: 100%;
}

@media (min-width: $mobile-resize-width) {
  .createForm {
    width: 60%;
    gap: 2rem;
  }
}
