@import "/src/app/styles/resizeValues.scss";

.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;

  padding: 5%;

  align-items: center;
}

.title {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}
